#wedding-website {
  .header {
    margin: 0 -40px;
    .logo {
      font-size: 92%;
      font-weight: 500;
      letter-spacing: 0.45em;
    }
    a {
      font-family: 'Helvetica Neue', 'Helvetica', 'sans-serif';
      color: 252525;
      font-size: 86%;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0.35em;
      line-height: 3em;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0 40px;
      &:hover {
        color: 252525;
        text-decoration: none;
      }
    }
  }
  .footer-stickyflex {
    flex: 1;
  }
  .footer {
    a {
      display: block;
      padding: 10px;
    }
  }
}
