#wedding-website {
  // lazy way to select active selected nav item
  .our-wedding .nav-ourw,
  .registry .nav-regs,
  .travellodging .nav-trvl,
  .rsvp-page .nav-rsvp {
    border-bottom: solid 3px darkgrey;
  }
  .nav-header {
    background-color: fefefe;
    margin: 0 -40px;
    padding: 0 20px;
    border-bottom: solid 2px rgba(0,0,0,0.1);
    .nav-logo {
      font-size: 17px;
      font-weight: 500;
      letter-spacing: 0.4em;
    }
    a {
      font-family: 'Helvetica Neue', 'Helvetica', 'sans-serif';
      color: 252525;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0.33em;
      line-height: 3em;
      height: 3em;
      text-decoration: none;
      text-transform: uppercase;
      padding: 13px 20px;
      white-space: nowrap;
      &:hover {
        color: 252525;
        text-decoration: none;
      }
    }
  }
  .footer-stickyflex {
    flex: 1;
  }
  .footer {
    background-color: fafafa;
    margin-top: 40px;
    border-top: solid 2px rgba(0,0,0,0.1);
    a {
      display: block;
      padding: 10px;
    }
  }
}
