#wedding-website .homepage {
  #weddingparty {
    margin-bottom: 14px;
  }
  .letter {
    margin: 0px;
  }
  .homepage-hero {
    padding: 50px 0 30px 0;
    &:before {
      background: url("../images/hero/forest.jpg");
    }
    p {
      margin: 22px auto;
      padding: 0;
    }
    .engagement-pictures-link {
      display: block;
      width: 250px;
      max-width: 100%;
      overflow: hidden;
      margin: 0 auto;
      line-height: 23px;
      padding: 3px;
      border-radius: 3px;
      font-size: 12px;
      img {
        opacity: 0.65;
      }
      &:hover {
        color: black;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
        background: rgba(0, 0, 0, 0.1);
        img {
          opacity: 1;
        }
      }
    }
  }
  .wedding-party-wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    max-width: 840px;
    margin: 0 auto;
    .block-wedding-party-wrp {
      justify-content: space-between;
      margin: 0 auto 30px auto;
      width: 33%;
      @media (max-width: 768px) {
        width: 50%;
      }
      @media (max-width: 496px) {
        width: 100%;
      }
      .block-wedding-party {
        margin-bottom: 20px;
        img {
          border-radius: 100%;
          border: 1px solid white;
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}
